 ⛵**TITANIC** ***MIUUL PANDAS EXERCISE***

In [5]:
import pandas as pd
import seaborn as sns
###Görev 1: Seaborn kütüphanesi içerisinden Titanic veri setini tanımlayınız.
df = sns.load_dataset("titanic")

In [7]:
###Görev 2: Titanic veri setindeki kadın ve erkek yolcuların sayısını bulunuz.
sex=df["sex"].value_counts()
print(sex)

male      577
female    314
Name: sex, dtype: int64

In [9]:
###Görev 3: Her bir sutuna ait unique değerlerin sayısını bulunuz.
unique_counts = df.nunique()
print(unique_counts)

survived         2
pclass           3
sex              2
age             88
sibsp            7
parch            7
fare           248
embarked         3
class            3
who              3
adult_male       2
deck             7
embark_town      3
alive            2
alone            2
dtype: int64

In [10]:
###Görev 4: pclass değişkeninin unique değerlerinin sayısını bulunuz
unique_pclass_values = df["pclass"].nunique()
print("pclass değişkenine ait unique değerlerinin sayısı:", unique_pclass_values)

pclass değişkenine ait unique değerlerinin sayısı: 3

In [12]:
###Görev 5: pclass ve parch değişkenlerinin unique değerlerinin sayısını bulunuz.
unique_pclass = df['pclass'].nunique()
unique_parch = df['parch'].nunique()

print("pclass unique değer sayısı:", unique_pclass)
print("parch unique değer sayısı:", unique_parch)

pclass unique değer sayısı: 3
parch unique değer sayısı: 7

In [13]:
###Görev 6: embarked değişkeninin tipini kontrol ediniz. Tipini category olarak değiştiriniz ve tekrar kontrol ediniz.
print("embarked değişkeninin veri tipi:", df["embarked"].dtypes)
df["embarked"] = df["embarked"].astype("category")
print("embarked değişkeninin güncellendikten sonraki veri tipi:", df["embarked"].dtypes)

embarked değişkenininveri tipi: object
embarked değişkeninin güncellendikten sonraki veri tipi: category

In [16]:
###Görev 7: embarked değeri C olanların tüm bilgelerini gösteriniz.
embarked_cpassengers = df[df["embarked"] == "C"]
print(embarked_cpassengers)

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
1           1       1  female  38.0      1      0  71.2833        C   First
9           1       2  female  14.0      1      0  30.0708        C  Second
19          1       3  female   NaN      0      0   7.2250        C   Third
26          0       3    male   NaN      0      0   7.2250        C   Third
30          0       1    male  40.0      0      0  27.7208        C   First
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
866         1       2  female  27.0      1      0  13.8583        C  Second
874         1       2  female  28.0      1      0  24.0000        C  Second
875         1       3  female  15.0      0      0   7.2250        C   Third
879         1       1  female  56.0      0      1  83.1583        C   First
889         1       1    male  26.0      0      0  30.0000        C   First

       who  adult_male deck embark_town alive  alone
1    woman       False    C   Cherbourg   yes  False
9    child       False  NaN   Cherbourg   yes  False
19   woman       False  NaN   Cherbourg   yes   True
26     man        True  NaN   Cherbourg    no   True
30     man        True  NaN   Cherbourg    no   True
..     ...         ...  ...         ...   ...    ...
866  woman       False  NaN   Cherbourg   yes  False
874  woman       False  NaN   Cherbourg   yes  False
875  child       False  NaN   Cherbourg   yes   True
879  woman       False    C   Cherbourg   yes  False
889    man        True    C   Cherbourg   yes   True

[168 rows x 15 columns]

In [17]:
###Görev 8: embarked değeri S olmayanların tüm bilgelerini gösteriniz.
embarked_nonspassengers = df[df["embarked"] != "S"]
print(embarked_nonspassengers)

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
1           1       1  female  38.0      1      0  71.2833        C   First
5           0       3    male   NaN      0      0   8.4583        Q   Third
9           1       2  female  14.0      1      0  30.0708        C  Second
16          0       3    male   2.0      4      1  29.1250        Q   Third
19          1       3  female   NaN      0      0   7.2250        C   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
875         1       3  female  15.0      0      0   7.2250        C   Third
879         1       1  female  56.0      0      1  83.1583        C   First
885         0       3  female  39.0      0      5  29.1250        Q   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck embark_town alive  alone
1    woman       False    C   Cherbourg   yes  False
5      man        True  NaN  Queenstown    no   True
9    child       False  NaN   Cherbourg   yes  False
16   child       False  NaN  Queenstown    no  False
19   woman       False  NaN   Cherbourg   yes   True
..     ...         ...  ...         ...   ...    ...
875  child       False  NaN   Cherbourg   yes   True
879  woman       False    C   Cherbourg   yes  False
885  woman       False  NaN  Queenstown    no  False
889    man        True    C   Cherbourg   yes   True
890    man        True  NaN  Queenstown    no   True

[247 rows x 15 columns]

In [18]:
###Görev 9: Yaşı 30 dan küçük ve kadın olan yolcuların tüm bilgilerini gösteriniz.
youngfem = df[(df["age"] < 30) & (df["sex"] == "female")]
print(youngfem)

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
2           1       3  female  26.0      0      0   7.9250        S   Third
8           1       3  female  27.0      0      2  11.1333        S   Third
9           1       2  female  14.0      1      0  30.0708        C  Second
10          1       3  female   4.0      1      1  16.7000        S   Third
14          0       3  female  14.0      0      0   7.8542        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
874         1       2  female  28.0      1      0  24.0000        C  Second
875         1       3  female  15.0      0      0   7.2250        C   Third
880         1       2  female  25.0      0      1  26.0000        S  Second
882         0       3  female  22.0      0      0  10.5167        S   Third
887         1       1  female  19.0      0      0  30.0000        S   First

       who  adult_male deck  embark_town alive  alone
2    woman       False  NaN  Southampton   yes   True
8    woman       False  NaN  Southampton   yes  False
9    child       False  NaN    Cherbourg   yes  False
10   child       False    G  Southampton   yes  False
14   child       False  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
874  woman       False  NaN    Cherbourg   yes  False
875  child       False  NaN    Cherbourg   yes   True
880  woman       False  NaN  Southampton   yes  False
882  woman       False  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True

[147 rows x 15 columns]

In [20]:
###Görev 10: Fare'i 500'den büyük veya yaşı 70 den büyük yolcuların bilgilerini gösteriniz.
newfare = df[(df['fare'] > 500) | (df['age'] > 70)]
print(newfare)

     survived  pclass     sex   age  sibsp  parch      fare embarked  class  \
96          0       1    male  71.0      0      0   34.6542        C  First
116         0       3    male  70.5      0      0    7.7500        Q  Third
258         1       1  female  35.0      0      0  512.3292        C  First
493         0       1    male  71.0      0      0   49.5042        C  First
630         1       1    male  80.0      0      0   30.0000        S  First
679         1       1    male  36.0      0      1  512.3292        C  First
737         1       1    male  35.0      0      0  512.3292        C  First
851         0       3    male  74.0      0      0    7.7750        S  Third

       who  adult_male deck  embark_town alive  alone
96     man        True    A    Cherbourg    no   True
116    man        True  NaN   Queenstown    no   True
258  woman       False  NaN    Cherbourg   yes   True
493    man        True  NaN    Cherbourg    no   True
630    man        True    A  Southampton   yes   True
679    man        True    B    Cherbourg   yes  False
737    man        True    B    Cherbourg   yes   True
851    man        True  NaN  Southampton    no   True

In [21]:
###Görev 11: Her bir değişkendeki boş değerlerin toplamını bulunuz.
missval = df.isnull().sum()
print(missval)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [22]:
###Görev 12: who değişkenini dataframe’den çıkarınız.
df.drop('who', axis=1, inplace=True)
print(df)

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

     adult_male deck  embark_town alive  alone
0          True  NaN  Southampton    no  False
1         False    C    Cherbourg   yes  False
2         False  NaN  Southampton   yes   True
3         False    C  Southampton   yes  False
4          True  NaN  Southampton    no   True
..          ...  ...          ...   ...    ...
886        True  NaN  Southampton    no   True
887       False    B  Southampton   yes   True
888       False  NaN  Southampton    no  False
889        True    C    Cherbourg   yes   True
890        True  NaN   Queenstown    no   True

[891 rows x 14 columns]

In [23]:
###Görev 13: deck değikenindeki boş değerleri deck değişkenin en çok tekrar eden değeri (mode) ile doldurunuz.
deck_mode = df['deck'].mode().iloc[0]
df['deck'].fillna(deck_mode, inplace=True)
print(df)

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

     adult_male deck  embark_town alive  alone
0          True    C  Southampton    no  False
1         False    C    Cherbourg   yes  False
2         False    C  Southampton   yes   True
3         False    C  Southampton   yes  False
4          True    C  Southampton    no   True
..          ...  ...          ...   ...    ...
886        True    C  Southampton    no   True
887       False    B  Southampton   yes   True
888       False    C  Southampton    no  False
889        True    C    Cherbourg   yes   True
890        True    C   Queenstown    no   True

[891 rows x 14 columns]

In [24]:
###Görev 14: age değikenindeki boş değerleri age değişkenin medyanı ile doldurunuz.
age_medyan = df['age'].median()
df['age'].fillna(age_medyan, inplace=True)
print(df)

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female  28.0      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

     adult_male deck  embark_town alive  alone
0          True    C  Southampton    no  False
1         False    C    Cherbourg   yes  False
2         False    C  Southampton   yes   True
3         False    C  Southampton   yes  False
4          True    C  Southampton    no   True
..          ...  ...          ...   ...    ...
886        True    C  Southampton    no   True
887       False    B  Southampton   yes   True
888       False    C  Southampton    no  False
889        True    C    Cherbourg   yes   True
890        True    C   Queenstown    no   True

[891 rows x 14 columns]

In [26]:
###Görev 15: survived değişkeninin pclass ve cinsiyet değişkenleri kırılımınında sum, count, mean değerlerini bulunuz.
onbes = df.groupby(['pclass', 'sex'])['survived'].agg(['sum', 'count', 'mean'])
print(onbes)

               sum  count      mean
pclass sex
1      female   91     94  0.968085
       male     45    122  0.368852
2      female   70     76  0.921053
       male     17    108  0.157407
3      female   72    144  0.500000
       male     47    347  0.135447

In [27]:
###Görev 16: 30 yaşın altında olanlar 1, 30'a eşit ve üstünde olanlara 0 vericek bir fonksiyon yazın. Yazdığınız fonksiyonu kullanarak titanik veri
## setinde age_flag adında bir değişken oluşturunuz oluşturunuz. (apply ve lambda yapılarını kullanınız)
def age_flag(row):
    if row['age'] < 30:
        return 1
    else:
        return 0
df['age_flag'] = df.apply(lambda row: age_flag(row), axis=1)
print(df)

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female  28.0      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

     adult_male deck  embark_town alive  alone  age_flag
0          True    C  Southampton    no  False         1
1         False    C    Cherbourg   yes  False         0
2         False    C  Southampton   yes   True         1
3         False    C  Southampton   yes  False         0
4          True    C  Southampton    no   True         0
..          ...  ...          ...   ...    ...       ...
886        True    C  Southampton    no   True         1
887       False    B  Southampton   yes   True         1
888       False    C  Southampton    no  False         1
889        True    C    Cherbourg   yes   True         1
890        True    C   Queenstown    no   True         0

[891 rows x 15 columns]

In [28]:
###Görev 17: Seaborn kütüphanesi içerisinden Tips veri setini tanımlayınız.
tips = sns.load_dataset('tips')
print(tips.head())

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [29]:
###Görev 18: Time değişkeninin kategorilerine (Dinner, Lunch) göre total_bill değerlerinin toplamını, min, max ve ortalamasını bulunuz.
onsekiz = tips.groupby('time')['total_bill'].agg(['sum', 'min', 'max', 'mean'])
print(onsekiz)

            sum   min    max       mean
time
Lunch   1167.47  7.51  43.11  17.168676
Dinner  3660.30  3.07  50.81  20.797159

In [31]:
###Görev 19: Günlere ve time göre total_bill değerlerinin toplamını, min, max ve ortalamasını bulunuz.
ondokuz = tips.groupby(['day', 'time'])['total_bill'].agg(['sum', 'min', 'max', 'mean'])
print(ondokuz)

                 sum    min    max       mean
day  time
Thur Lunch   1077.55   7.51  43.11  17.664754
     Dinner    18.78  18.78  18.78  18.780000
Fri  Lunch     89.92   8.58  16.27  12.845714
     Dinner   235.96   5.75  40.17  19.663333
Sat  Lunch      0.00    NaN    NaN        NaN
     Dinner  1778.40   3.07  50.81  20.441379
Sun  Lunch      0.00    NaN    NaN        NaN
     Dinner  1627.16   7.25  48.17  21.410000

In [32]:
###Görev 20: Lunch zamanına ve kadın müşterilere ait total_bill ve tip değerlerinin day'e göre toplamını, min, max ve ortalamasını bulunuz.
yirmi = tips[(tips['time'] == 'Lunch') & (tips['sex'] == 'Female')].groupby('day')[['total_bill', 'tip']].agg(['sum', 'min', 'max', 'mean'])
print(yirmi)

     total_bill                            tip
            sum    min    max      mean    sum   min   max      mean
day
Thur     516.11   8.35  43.11  16.64871  79.42  1.25  5.17  2.561935
Fri       55.76  10.09  16.27  13.94000  10.98  2.00  3.48  2.745000
Sat        0.00    NaN    NaN       NaN   0.00   NaN   NaN       NaN
Sun        0.00    NaN    NaN       NaN   0.00   NaN   NaN       NaN

In [36]:
###Görev 21: size'i 3'ten küçük, total_bill'i 10'dan büyük olan siparişlerin ortalaması nedir? (loc kullanınız)
fil = tips.loc[(tips['size'] < 3) & (tips['total_bill'] > 10)]
ort= fil['total_bill'].mean()
print("Ort total_bill değeri:", ort)

Ort total_bill değeri: 17.184965034965035

In [37]:
###Görev 22: total_bill_tip_sum adında yeni bir değişken oluşturunuz. Her bir müşterinin ödediği totalbill ve tip in toplamını versin.
tips['total_bill_tip_sum'] = tips['total_bill'] + tips['tip']
print(tips)

     total_bill   tip     sex smoker   day    time  size  total_bill_tip_sum
0         16.99  1.01  Female     No   Sun  Dinner     2               18.00
1         10.34  1.66    Male     No   Sun  Dinner     3               12.00
2         21.01  3.50    Male     No   Sun  Dinner     3               24.51
3         23.68  3.31    Male     No   Sun  Dinner     2               26.99
4         24.59  3.61  Female     No   Sun  Dinner     4               28.20
..          ...   ...     ...    ...   ...     ...   ...                 ...
239       29.03  5.92    Male     No   Sat  Dinner     3               34.95
240       27.18  2.00  Female    Yes   Sat  Dinner     2               29.18
241       22.67  2.00    Male    Yes   Sat  Dinner     2               24.67
242       17.82  1.75    Male     No   Sat  Dinner     2               19.57
243       18.78  3.00  Female     No  Thur  Dinner     2               21.78

[244 rows x 8 columns]

In [38]:
###Görev 23: total_bill_tip_sum değişkenine göre büyükten küçüğe sıralayınız ve ilk 30 kişiyi yeni bir dataframe'e atayınız.
tips['total_bill_tip_sum'] = tips['total_bill'] + tips['tip']
newtips = tips.sort_values(by='total_bill_tip_sum', ascending=False)
otuz = newtips.head(30)
print(otuz)

     total_bill    tip     sex smoker   day    time  size  total_bill_tip_sum
170       50.81  10.00    Male    Yes   Sat  Dinner     3               60.81
212       48.33   9.00    Male     No   Sat  Dinner     4               57.33
59        48.27   6.73    Male     No   Sat  Dinner     4               55.00
156       48.17   5.00    Male     No   Sun  Dinner     6               53.17
182       45.35   3.50    Male    Yes   Sun  Dinner     3               48.85
197       43.11   5.00  Female    Yes  Thur   Lunch     4               48.11
23        39.42   7.58    Male     No   Sat  Dinner     4               47.00
102       44.30   2.50  Female    Yes   Sat  Dinner     3               46.80
142       41.19   5.00    Male     No  Thur   Lunch     5               46.19
95        40.17   4.73    Male    Yes   Fri  Dinner     4               44.90
184       40.55   3.00    Male    Yes   Sun  Dinner     2               43.55
112       38.07   4.00    Male     No   Sun  Dinner     3               42.07
207       38.73   3.00    Male    Yes   Sat  Dinner     4               41.73
56        38.01   3.00    Male    Yes   Sat  Dinner     4               41.01
141       34.30   6.70    Male     No  Thur   Lunch     6               41.00
238       35.83   4.67  Female     No   Sat  Dinner     3               40.50
11        35.26   5.00  Female     No   Sun  Dinner     4               40.26
52        34.81   5.20  Female     No   Sun  Dinner     4               40.01
85        34.83   5.17  Female     No  Thur   Lunch     4               40.00
47        32.40   6.00    Male     No   Sun  Dinner     4               38.40
180       34.65   3.68    Male    Yes   Sun  Dinner     4               38.33
179       34.63   3.55    Male    Yes   Sun  Dinner     2               38.18
83        32.68   5.00    Male    Yes  Thur   Lunch     2               37.68
39        31.27   5.00    Male     No   Sat  Dinner     3               36.27
167       31.71   4.50    Male     No   Sun  Dinner     4               36.21
175       32.90   3.11    Male    Yes   Sun  Dinner     2               36.01
44        30.40   5.60    Male     No   Sun  Dinner     4               36.00
173       31.85   3.18    Male    Yes   Sun  Dinner     2               35.03
116       29.93   5.07    Male     No   Sun  Dinner     4               35.00
155       29.85   5.14  Female     No   Sun  Dinner     5               34.99